.sobremi_main{
    margin-top: 100px;
    background-color: black;
    color: white;
    .contenedor{
        position: relative;
        .titulo{
            position: absolute;
            top: 50px;
            right: 300px;
            font-size: 120px;
            font-family:sans-serif;
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
        .titulo2{
            position: absolute;
            top: 200px;
            right: 550px;
            font-size: 120px;
            font-family:sans-serif;
            color: white;
            font-family: 'Montserrat', sans-serif;
        }
        .titulo3{
            position: absolute;
            top: 350px;
            right: 270px;
            font-size: 120px;
            font-family:sans-serif;
            color: white;
            font-family: 'Rampart One', cursive;
        }
    }
}